<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ .Page.Meta.Get "title" }}{{ if .SiteTitle }} | {{ .SiteTitle }}{{ end }}</title>
  </head>
  <body>
    <nav>
      {{ if .SiteTitle }}<strong>{{ .SiteTitle }}</strong>{{ end }}
      {{ range .Menu -}}
        <a href="{{ .URL }}">{{ .Title }}</a>
      {{- end }}
    </nav>

    <h1>{{ .Page.Meta.Get "title" }}</h1>
    <div>
      {{ range splitParagraphs .Page.Body -}}
        <p>{{ . }}</p>
      {{- end }}
    </div>
  </body>
</html>
